<%- include('./includes/header.ejs') %>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
            <p
                style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;line-height: 200%; color: #332f2e; font-size: 20px;">
                Congratulation, You won!
            </p>
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
            <p
                style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666;font-size:18px">
                Token (<b>
                    <%= title %>
                </b>) auction completed. You won an auction with <%= bid_price %> ETH bid price. Claim your token.
            </p>
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td
            style="text-align:center;Margin:0;padding-left:10px;padding-right:10px;padding-top:35px;padding-bottom:35px">
            <span class="es-button-border"
                style="border-style:solid;border-color:#000000;background:#000000;border-width:1px;display:inline-block;border-radius:100px;width:auto"><a
                    class="es-button es-button-1" target="_blank"
                    style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#FFFFFF;font-size:18px;border-style:solid;border-color:#000000;border-width:15px 30px;display:inline-block;background:#000000;border-radius:100px;font-family:'source sans pro', helvetica, 'helvetica neue', arial, verdana, sans-serif;font-weight:normal;font-style:normal;line-height:24px;width:auto;text-align:center"
                    href=<%=claim_link %>>Claim token now</a>
            </span>
        </td>
    </tr>
    <%- include('./includes/footer.ejs') %>