<%- include('./includes/header.ejs') %>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px">
            <p
                style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'source sans pro', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;line-height: 200%; color: #332f2e; font-size: 20px;">
                Support Request
            </p>
        </td>
    </tr>
    <tr style="border-collapse:collapse">
        <td class="es-m-txt-l"
            style="background-color:#ffffff;text-align:center;Margin:0;padding-top:20px;padding-bottom:20px;padding-left:40px;padding-right:40px">
            <p style="line-height: 150%; color: #676464; text-align: justify; padding: 5px 0;"><span
                    style="font-size: 16px; font-weight: bold;">Email</span>: <span style="font-size: 14px">
                    <%= email %>
                </span>
            </p>
            <p style="line-height: 150%; color: #676464; text-align: justify; padding: 5px 0;"><span
                    style="font-size: 16px; font-weight: bold;">Phone</span>: <span style="font-size: 14px">
                    <%= phone %>
                </span>
            </p>
            <p style="line-height: 150%; color: #676464; text-align: justify; padding: 5px 0;"><span
                    style="font-size: 16px; font-weight: bold;">Fullname</span>: <span style="font-size: 14px">
                    <%= fullname %>
                </span>
            </p>
            <p style="line-height: 150%; color: #676464; text-align: justify; padding: 5px 0;"><span
                    style="font-size: 16px; font-weight: bold;">Message</span>: <span style="font-size: 14px">
                    <%= message %>
                </span>
            </p>
        </td>
    </tr>
    <%- include('./includes/footer.ejs') %>